* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
}

.screen {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.v16_11 {
  width: 393px;
  height: 2019px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.v16_13 {
  width: 392px;
  height: 67px;
  background: url("../images/v16_13.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
}

.v19_15 {
  width: 390px;
  height: 189px;
  background: url("../images/v19_15.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 67px;
  left: 0px;
}

.v19_16 {
  width: 393px;
  height: 875px;
  background: url("../images/v19_16.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 244px;
  left: 0px;
}

.v19_17 {
  width: 392px;
  height: 495px;
  background: url("../images/v19_17.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 1104px;
  left: 0px;
}

.v19_18 {
  width: 392px;
  height: 420px;
  background: url("../images/v19_18.png") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 1599px;
  left: 0px;
}
